body,
html {
    background: #000
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Blender Pro, JetBrainsMono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-feature-settings: "zero";
    font-variant-numeric: slashed-zero;
    overflow-x: hidden;
    overflow-y: scroll
}

body,
html {
    min-height: 100vh
}

*,
:after,
:before {
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: Blender Pro;
    src: url(/static/fonts/BlenderPro-Bold.woff2) format("woff2"), url(/static/fonts/BlenderPro-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Blender Pro;
    src: url(/static/fonts/BlenderPro-Book.woff2) format("woff2"), url(/static/fonts/BlenderPro-Book.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: JetBrainsMono;
    src: url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff) format("woff"), url(https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

.accessible-elem {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.page-wrapper {
    margin: 0 auto
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-track {
    overflow: hidden;
    background: #000
}

body::-webkit-scrollbar:horizontal {
    height: 24px
}

body::-webkit-scrollbar:vertical {
    width: 24px
}

body::-webkit-scrollbar-thumb {
    border: 10px solid #000;
    -webkit-transition: background .25s;
    transition: background .25s;
    background: hsla(0, 0%, 100%, .25)
}

body::-webkit-scrollbar-thumb:vertical {
    border-top: none;
    border-bottom: none
}

body::-webkit-scrollbar-thumb:horizontal {
    border-left: none;
    border-right: none
}

body::-webkit-scrollbar-thumb:hover {
    background: #fff
}

button::-moz-focus-inner {
    border: 0
}

a {
    outline: 0
}

code,
pre {
    font-feature-settings: none, "zero";
    font-variant-ligatures: none;
    font-variant-numeric: slashed-zero;
    font-family: JetBrainsMono, monospace
}

.react-syntax-highlighter-line-number {
    color: #8290bb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding-right: 8px;
    margin-right: 8px;
    border-right: 1px solid #3b4048
}

.grecaptcha-badge {
    visibility: hidden
}

::-moz-selection {
    text-shadow: none;
    background-color: #00ffe1;
    color: #000
}

::selection {
    text-shadow: none;
    background-color: #00ffe1;
    color: #000
}

.glare-wrapper {
    pointer-events: none
}

.SocialMediaShareButton {
    outline: none !important
}

@media(max-width:499px) {
    .mobile-hide {
        display: none !important
    }
}

.dg.main {
    z-index: 100000;
    position: fixed;
    top: 0;
    right: 0
}

@media(max-width:1023px) {
    .mobile-menu-toggle {
        -webkit-transition: -webkit-transform .25s ease-out;
        transition: -webkit-transform .25s ease-out;
        transition: transform .25s ease-out;
        transition: transform .25s ease-out, -webkit-transform .25s ease-out;
        -webkit-transform: translateY(-64px);
        transform: translateY(-64px)
    }
    .mobile-menu-toggle.mobile-menu-visible {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.Activated_overlay__3ey1P {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition-property: background-color;
    transition-property: background-color
}

.Activated_btn__BDRGy {
    cursor: -webkit-zoom-out;
    cursor: zoom-out
}

.Activated_content__2QBG5 {
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transform-origin: center center;
    transform-origin: center center
}

.Shared_trigger__3qcaj {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    font: inherit;
    color: inherit;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.Main_wrap__260iu {
    position: relative;
    display: inline-flex
}

.Main_wrapHidden__iJWkw {
    visibility: hidden
}

.Main_btn__3CiJa {
    cursor: -webkit-zoom-in;
    cursor: zoom-in
}

.test-component {
    position: relative;
    width: 512px;
    padding: 32px;
    background: green;
    -webkit-transition: background 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out;
    transition: background 1s ease-in-out, top 1s ease-in-out, left 1s ease-in-out
}

.test-component.variant {
    background: red
}

.test-component h1 {
    font-size: 24px;
    -webkit-transition: font-size 1s ease-in-out;
    transition: font-size 1s ease-in-out
}

.test-component.variant h1 {
    font-size: 48px
}

.post-info {
    position: relative;
    width: 100%;
    padding: 16px;
    text-shadow: none;
    z-index: 20;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.post-info:not(.large) {
    min-height: 256px
}

.post-info:not(.large).hovering {
    -webkit-transition: none !important;
    transition: none !important
}

.post-info-title-link {
    color: #fff;
    text-decoration: none
}

.post-info h1 .title-small {
    font-size: 24px
}

.post-info h1 .title-main,
.post-info h1 .title-small {
    display: block;
    line-height: 32px;
    -webkit-transition: font-size .75s cubic-bezier(.77, 0, .175, 1), line-height .75s cubic-bezier(.77, 0, .175, 1);
    transition: font-size .75s cubic-bezier(.77, 0, .175, 1), line-height .75s cubic-bezier(.77, 0, .175, 1);
    overflow: hidden
}

.post-info h1 .title-main {
    font-size: 32px;
    margin-bottom: 8px
}

.post-info .description {
    font-size: 16px;
    line-height: 1em;
    overflow: hidden
}

.post-info .description * {
    color: hsla(0, 0%, 100%, .64)
}

.post-info .meta {
    display: flex;
    margin-top: 32px;
    overflow: hidden
}

.post-info.large .slider {
    display: inline-block;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(.16, 1, .3, 1);
    transition: -webkit-transform 1.5s cubic-bezier(.16, 1, .3, 1);
    transition: transform 1.5s cubic-bezier(.16, 1, .3, 1);
    transition: transform 1.5s cubic-bezier(.16, 1, .3, 1), -webkit-transform 1.5s cubic-bezier(.16, 1, .3, 1)
}

.post-info.large.enter .slider {
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.post-info:not(.large) {
    opacity: 0;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
    -webkit-transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), transform 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), transform 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1)
}

.post-info:not(.large).enter {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.post-info h1 .title-small .slider {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.post-info h1 .title-main .slider {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.post-info .description .slider {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.post-info .meta .slider {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.post-info .meta .text {
    width: 50%;
    font-size: 16px;
    line-height: 1em;
    font-weight: 700
}

.post-info .meta .text>* {
    display: block
}

.post-info .meta .label {
    display: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: hsla(0, 0%, 100%, .64)
}

.post-info.large .meta .label {
    display: block
}

.post-info .meta .text>*+* {
    margin-top: 4px
}

.post-info.large .meta .tags {
    text-align: left
}

.post-info.large .meta .tag-container {
    flex-direction: row
}

.post-info .meta .tags {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: right
}

.post-info .meta .tag-container {
    display: flex;
    flex-direction: row-reverse
}

.post-info .description .slider>span,
.post-info h1 .title-main .slider>span,
.post-info h1 .title-small .slider>span {
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .96)), to(rgba(0, 0, 0, .96)));
    background: linear-gradient(90deg, rgba(0, 0, 0, .96), rgba(0, 0, 0, .96));
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 0 60%;
    -webkit-transition: background-size .75s cubic-bezier(.33, 1, .68, 1);
    transition: background-size .75s cubic-bezier(.33, 1, .68, 1)
}

.post-info:hover .description .slider>span,
.post-info:hover h1 .title-main .slider>span,
.post-info:hover h1 .title-small .slider>span {
    -webkit-transition: background-size 1s cubic-bezier(.16, 1, .3, 1);
    transition: background-size 1s cubic-bezier(.16, 1, .3, 1)
}

.post-info.hovering .description .slider>span,
.post-info.hovering h1 .title-main .slider>span,
.post-info.hovering h1 .title-small .slider>span,
.post-info.large .description .slider>span,
.post-info.large h1 .title-main .slider>span,
.post-info.large h1 .title-small .slider>span {
    background-position: 0 100%;
    background-size: 100% 60%
}

@media (min-width:500px) {
    .post-info.large {
        padding: 32px 48px
    }
}

@media (max-width:767px) {
    .post-info .meta .tags {
        display: none
    }
}

@media (min-width:768px) {
    .post-info {
        padding: 32px
    }
    .post-info.large {
        padding: 32px 64px
    }
    .post-info h1 .title-small {
        font-size: 32px;
        line-height: 32px
    }
    .post-info h1 .title-main {
        font-size: 48px;
        line-height: 48px
    }
    .post-info .description {
        font-size: 20px;
        max-width: 448px
    }
    .post-info .meta .text {
        font-size: 20px;
        width: 25%
    }
}

@media (min-width:1366px) {
    .post-info.large .meta {
        margin-top: 48px
    }
    .post-info.large h1 .title-small {
        font-size: 56px;
        line-height: 56px
    }
    .post-info.large h1 .title-main {
        font-size: 96px;
        line-height: 80px;
        margin-top: 8px
    }
    .post-info.large .description {
        margin-top: 32px;
        font-size: 24px;
        max-width: 538px
    }
    .post-info.large .meta .text {
        font-size: 20px
    }
}

.Grid_global-grid__1Kc8C {
    position: relative;
    margin: 0 auto;
    padding-top: 64px;
    width: 100%;
    max-width: 100vw;
    display: grid;
    justify-content: stretch;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
    overflow: hidden;
    grid-template-columns: [margin1-start main-start] 80px [margin1-end] auto [margin2-start] 80px [main-end margin2-end]
}

@media (min-width:768px) {
    .Grid_global-grid__1Kc8C {
        justify-content: normal
    }
}

@media (min-width:1024px) {
    .Grid_global-grid__1Kc8C {
        padding-top: 0;
        grid-template-columns: [margin1-start] 144px [margin1-end main-start] auto [main-end margin2-start] 144px [margin2-end]
    }
}

@media (min-width:1366px) {
    .Grid_global-grid__1Kc8C {
        justify-content: space-between;
        grid-template-columns: [margin1-start] 160px [margin1-end main-start] minmax(auto, 1184px) [main-end margin2-start] 160px [margin2-end]
    }
}

@media (min-width:1650px) {
    .Grid_global-grid__1Kc8C {
        max-width: 1920px;
        grid-template-columns: [margin1-start] 256px [margin1-end main-start] minmax(auto, 1184px) [main-end margin2-start] 256px [margin2-end]
    }
}

.Logo_logo-grid-item__3tz0h {
    grid-area: 1/margin1-start/2/margin1-end;
    width: 100%;
    justify-self: start;
    align-self: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    display: flex;
    justify-content: center
}

@media (min-width:1024px) {
    .Logo_logo-grid-item__3tz0h {
        justify-content: flex-start
    }
}

@media (min-width:1366px) {
    .Logo_logo-grid-item__3tz0h {
        justify-content: center
    }
}

.Logo_logo-mobile-link__3foH8 {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    line-height: .8em;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none
}

.Logo_logo-mobile-link__3foH8:active {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.Logo_mobile-bar__vgRPr {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, .8);
    z-index: 48
}

body.is-safari .Logo_logo-fixed-wrapper__2wZwc,
body.is-safari .Logo_logo-fixed-wrapper__2wZwc *,
body.is-safari .Logo_logo-fixed-wrapper__2wZwc :after,
body.is-safari .Logo_logo-fixed-wrapper__2wZwc :before {
    -webkit-transition: none !important;
    transition: none !important
}

.Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc {
    -webkit-transition: opacity .25s, -webkit-transform .25s;
    transition: opacity .25s, -webkit-transform .25s;
    transition: transform .25s, opacity .25s;
    transition: transform .25s, opacity .25s, -webkit-transform .25s;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 64px;
    height: 64px;
    z-index: 50;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc>* {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px);
    -webkit-transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: transform 1.5s cubic-bezier(.33, 1, .68, 1), opacity 1.5s cubic-bezier(.33, 1, .68, 1);
    transition: transform 1.5s cubic-bezier(.33, 1, .68, 1), opacity 1.5s cubic-bezier(.33, 1, .68, 1), -webkit-transform 1.5s cubic-bezier(.33, 1, .68, 1)
}

.Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc.Logo_enter__3QAp8>* {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media(max-width:1023px) {
    .Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc,
    .Logo_mobile-bar__vgRPr {
        -webkit-transition: -webkit-transform .25s;
        transition: -webkit-transform .25s;
        transition: transform .25s;
        transition: transform .25s, -webkit-transform .25s;
        -webkit-transform: translateY(-64px) translateZ(0);
        transform: translateY(-64px) translateZ(0)
    }
    .Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc.Logo_visible__3ZW6D,
    .Logo_mobile-bar__vgRPr.Logo_visible__3ZW6D {
        -webkit-transform: translateY(0) translateZ(0);
        transform: translateY(0) translateZ(0)
    }
}

@media (min-width:1024px) {
    .Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc {
        top: 16px;
        width: 128px;
        height: 128px
    }
    .Logo_mobile-bar__vgRPr {
        display: none
    }
}

@media (min-width:1650px) {
    .Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc {
        top: 48px
    }
}

@media (min-width:1920px) {
    .Logo_logo-grid-item__3tz0h .Logo_logo-fixed-wrapper__2wZwc {
        top: 64px
    }
}

.Logo_logo-grid-item__3tz0h .small-logo.at-top.home {
    cursor: default;
    -webkit-transition: -webkit-transform .25s;
    transition: -webkit-transform .25s;
    transition: transform .25s;
    transition: transform .25s, -webkit-transform .25s
}

.Logo_logo-grid-item__3tz0h .text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.Logo_logo-grid-item__3tz0h .small-logo:hover .text-wrapper {
    opacity: 1
}

.Logo_logo-grid-item__3tz0h .small-logo.at-top.home .text-wrapper {
    opacity: 0
}

.Logo_logo-grid-item__3tz0h .canvas-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    z-index: 2
}

.Logo_logo-grid-item__3tz0h .small-logo {
    display: block;
    text-decoration: none;
    color: #fff;
    position: relative;
    width: 128px;
    height: 128px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    line-height: 17px
}

.Logo_logo-grid-item__3tz0h .small-logo,
.Logo_logo-grid-item__3tz0h .tilt {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}

.Logo_logo-grid-item__3tz0h .small-logo:hover .text-line1:after {
    opacity: 1
}

.Logo_logo-grid-item__3tz0h .small-logo .text-line1>span,
.Logo_logo-grid-item__3tz0h .small-logo .text-line2 {
    -webkit-transition: opacity .25s;
    transition: opacity .25s
}

.Logo_logo-grid-item__3tz0h .small-logo:hover .text-line1>span,
.Logo_logo-grid-item__3tz0h .small-logo:hover .text-line2 {
    opacity: .25
}

.Logo_logo-grid-item__3tz0h .small-logo>span {
    position: relative;
    display: block
}

.Logo_logo-grid-item__3tz0h .small-logo:active {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.Logo_logo-grid-item__3tz0h .cube {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 64px;
    height: 64px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(-35deg) rotateY(-45deg) rotate(0deg);
    transform: rotateX(-35deg) rotateY(-45deg) rotate(0deg);
    margin: auto;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out
}

.Logo_logo-grid-item__3tz0h:hover .small-logo.at-top.home .cube {
    -webkit-transform: rotateX(-215deg) rotateY(-45deg) rotate(0deg);
    transform: rotateX(-215deg) rotateY(-45deg) rotate(0deg)
}

.Logo_logo-grid-item__3tz0h .line1,
.Logo_logo-grid-item__3tz0h .line2 {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 16px #fff;
    will-change: transform;
    z-index: 3
}

.Logo_logo-grid-item__3tz0h .cube>div {
    position: absolute;
    -webkit-transition: all .25s;
    transition: all .25s;
    width: 64px;
    height: 64px;
    overflow: hidden;
    border: 2px solid #000
}

.Logo_logo-grid-item__3tz0h .cube>div:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 64px;
    background-image: url(/static/code.png);
    background-repeat: repeat;
    opacity: 0;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    z-index: 1
}

.Logo_logo-grid-item__3tz0h .top-left:before,
.Logo_logo-grid-item__3tz0h .top-right:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.Logo_logo-grid-item__3tz0h .cube>div:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: inset 0 0 0 4px hsla(0, 0%, 100%, .05);
    z-index: 2
}

.Logo_logo-grid-item__3tz0h:hover .small-logo.at-top.home .cube>div:before {
    opacity: .5;
    -webkit-animation: Logo_cube-code__C6SUv 2s linear infinite;
    animation: Logo_cube-code__C6SUv 2s linear infinite
}

@-webkit-keyframes Logo_cube-code__C6SUv {
    0% {
        background-position: 0 0
    }
    13% {
        background-position: 0 16px
    }
    37% {
        background-position: 0 16px
    }
    50% {
        background-position: 0 32px
    }
    64% {
        background-position: 0 32px
    }
    80% {
        background-position: 0 48px
    }
    92% {
        background-position: 0 48px
    }
    to {
        background-position: 0 64px
    }
}

@keyframes Logo_cube-code__C6SUv {
    0% {
        background-position: 0 0
    }
    13% {
        background-position: 0 16px
    }
    37% {
        background-position: 0 16px
    }
    50% {
        background-position: 0 32px
    }
    64% {
        background-position: 0 32px
    }
    80% {
        background-position: 0 48px
    }
    92% {
        background-position: 0 48px
    }
    to {
        background-position: 0 64px
    }
}

.Logo_logo-grid-item__3tz0h .top-left {
    -webkit-transform: rotateY(-90deg) translateX(0) translateY(0) translateZ(32px);
    transform: rotateY(-90deg) translateX(0) translateY(0) translateZ(32px);
    background: linear-gradient(45deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .75))
}

.Logo_logo-grid-item__3tz0h .top-left .line1 {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    right: 0;
    height: 100%;
    width: 4px
}

.Logo_logo-grid-item__3tz0h .small-logo.not-home:hover .cube .top-left .line1 {
    -webkit-transform-origin: top;
    transform-origin: top
}

.Logo_logo-grid-item__3tz0h .top-left .line2 {
    -webkit-transform-origin: right;
    transform-origin: right;
    top: 0;
    height: 4px;
    width: 100%
}

.Logo_logo-grid-item__3tz0h .small-logo.home:hover .cube .top-left .line2 {
    -webkit-transform-origin: left;
    transform-origin: left
}

.Logo_logo-grid-item__3tz0h .top-right {
    -webkit-transform: rotateY(180deg) translateX(0) translateY(0) translateZ(32px);
    transform: rotateY(180deg) translateX(0) translateY(0) translateZ(32px);
    background: linear-gradient(-45deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .75))
}

.Logo_logo-grid-item__3tz0h .top-right .line1 {
    -webkit-transform-origin: right;
    transform-origin: right;
    right: 0;
    height: 4px;
    width: 100%
}

.Logo_logo-grid-item__3tz0h .top-right .line2 {
    -webkit-transform-origin: top;
    transform-origin: top;
    left: 0;
    height: 100%;
    width: 4px
}

.Logo_logo-grid-item__3tz0h .bottom {
    -webkit-transform: rotateX(-90deg) translateX(0) translateY(0) translateZ(32px);
    transform: rotateX(-90deg) translateX(0) translateY(0) translateZ(32px);
    background: linear-gradient(45deg, rgba(0, 0, 0, .95), rgba(0, 0, 0, .75))
}

.Logo_logo-grid-item__3tz0h .bottom .line1 {
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    right: 0;
    height: 100%;
    width: 4px
}

.Logo_logo-grid-item__3tz0h .bottom .line2 {
    -webkit-transform-origin: right;
    transform-origin: right;
    top: 0;
    height: 4px;
    width: 100%
}

.Menu_page-blur__31MND>* {
    -webkit-filter: blur(64px);
    filter: blur(64px);
    opacity: .4
}

.Menu_fullscreen-menu__2XGCS {
    position: fixed;
    top: 64px;
    padding-right: 16px;
    bottom: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow-y: auto;
    overflow-x: hidden
}

@media (min-width:1024px) {
    .Menu_fullscreen-menu__2XGCS {
        top: 144px;
        padding-right: 48px
    }
}

@media (min-width:1366px) {
    .Menu_fullscreen-menu__2XGCS {
        padding-right: 48px
    }
}

@media (min-width:1650px) {
    .Menu_fullscreen-menu__2XGCS {
        top: 192px;
        padding-right: 96px
    }
}

@media (min-width:1920px) {
    .Menu_fullscreen-menu__2XGCS {
        top: 208px
    }
}

.Menu_fullscreen-menu__2XGCS.Menu_open__29FdF {
    visibility: visible;
    opacity: 1
}

.Menu_blur__1wfIx {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: rgba(0, 0, 0, .8);
    z-index: 60
}

.Menu_menu-button-grid-area__1kjYK {
    grid-area: 1/margin2-start/2/margin2-end;
    width: 100%;
    justify-self: start;
    align-self: start;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0;
    display: flex;
    z-index: 9000;
    justify-content: center
}

@media (min-width:1024px) {
    .Menu_menu-button-grid-area__1kjYK {
        justify-content: flex-end
    }
}

@media (min-width:1366px) {
    .Menu_menu-button-grid-area__1kjYK {
        justify-content: center
    }
}

.Menu_menu-button-wrapper__21lJd {
    -webkit-transition: opacity .25s, -webkit-transform .25s;
    transition: opacity .25s, -webkit-transform .25s;
    transition: transform .25s, opacity .25s;
    transition: transform .25s, opacity .25s, -webkit-transform .25s;
    position: fixed;
    z-index: 9000;
    top: 0;
    overflow: hidden;
    width: 64px;
    height: 64px
}

.Menu_menu-button-wrapper__21lJd>* {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px)
}

.Menu_menu-button-wrapper__21lJd.Menu_enter__2mwJl>* {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media(max-width:1023px) {
    .Menu_menu-button-wrapper__21lJd:not(.Menu_open__29FdF) {
        -webkit-transform: translateY(-64px);
        transform: translateY(-64px)
    }
    .Menu_menu-button-wrapper__21lJd.Menu_visible__35hYg {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    .Menu_menu-button-lines__30VoK {
        -webkit-transition: -webkit-transform .25s;
        transition: -webkit-transform .25s;
        transition: transform .25s;
        transition: transform .25s, -webkit-transform .25s;
        width: 64px;
        height: 64px
    }
    .Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK {
        -webkit-transform: translateY(8px);
        transform: translateY(8px)
    }
}

@media (min-width:1024px) {
    .Menu_menu-button-wrapper__21lJd {
        top: 16px;
        padding: 32px;
        width: 128px;
        height: 128px
    }
}

@media (min-width:1650px) {
    .Menu_menu-button-wrapper__21lJd {
        top: 48px
    }
}

@media (min-width:1920px) {
    .Menu_menu-button-wrapper__21lJd {
        top: 64px
    }
}

.Menu_menu-button__2Jtwl {
    position: relative;
    width: 64px;
    height: 64px;
    font-size: 24px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer
}

body.is-safari .Menu_menu-button-wrapper__21lJd,
body.is-safari .Menu_menu-button-wrapper__21lJd *,
body.is-safari .Menu_menu-button-wrapper__21lJd :after,
body.is-safari .Menu_menu-button-wrapper__21lJd :before {
    -webkit-transition: none !important;
    transition: none !important
}

.Menu_menu-button__2Jtwl:active {
    display: block;
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.Menu_menu-button__2Jtwl:active:after {
    content: "";
    position: absolute;
    top: -6%;
    right: -6%;
    bottom: -6%;
    left: -6%
}

.Menu_menu-button-lines__30VoK:after,
.Menu_menu-button-lines__30VoK:before {
    position: absolute;
    content: "";
    height: 3px;
    -webkit-transition: top .5s cubic-bezier(.16, 1, .3, 1), bottom .5s cubic-bezier(.16, 1, .3, 1), left .5s cubic-bezier(.16, 1, .3, 1), background .5s cubic-bezier(.16, 1, .3, 1), -webkit-transform .5s cubic-bezier(.16, 1, .3, 1);
    transition: top .5s cubic-bezier(.16, 1, .3, 1), bottom .5s cubic-bezier(.16, 1, .3, 1), left .5s cubic-bezier(.16, 1, .3, 1), background .5s cubic-bezier(.16, 1, .3, 1), -webkit-transform .5s cubic-bezier(.16, 1, .3, 1);
    transition: top .5s cubic-bezier(.16, 1, .3, 1), bottom .5s cubic-bezier(.16, 1, .3, 1), left .5s cubic-bezier(.16, 1, .3, 1), background .5s cubic-bezier(.16, 1, .3, 1), transform .5s cubic-bezier(.16, 1, .3, 1);
    transition: top .5s cubic-bezier(.16, 1, .3, 1), bottom .5s cubic-bezier(.16, 1, .3, 1), left .5s cubic-bezier(.16, 1, .3, 1), background .5s cubic-bezier(.16, 1, .3, 1), transform .5s cubic-bezier(.16, 1, .3, 1), -webkit-transform .5s cubic-bezier(.16, 1, .3, 1);
    background: #fff
}

.Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:after,
.Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:before {
    background: red
}

.Menu_menu-button-lines__30VoK:before {
    top: 24px;
    left: 8px;
    right: 8px
}

.Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:before {
    top: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.Menu_menu-button-lines__30VoK:after {
    bottom: 24px;
    left: 32px;
    right: 8px
}

.Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:after {
    bottom: 30px;
    left: 8px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

@media (min-width:1024px) {
    .Menu_menu-button-lines__30VoK:after,
    .Menu_menu-button-lines__30VoK:before {
        height: 4px;
        box-shadow: 0 0 0 4px #000, 0 0 12px 8px #000
    }
    .Menu_menu-button-lines__30VoK:before {
        top: 22px;
        left: 0;
        right: 0
    }
    .Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:before {
        top: 30px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg)
    }
    .Menu_menu-button-lines__30VoK:after {
        bottom: 22px;
        left: 32px;
        right: 0
    }
    .Menu_menu-button-wrapper__21lJd.Menu_open__29FdF .Menu_menu-button-lines__30VoK:after {
        bottom: 30px;
        left: 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg)
    }
    .Menu_menu-button__2Jtwl:before {
        content: "";
        width: 2px;
        height: 96px;
        position: absolute;
        left: 31px;
        top: -16px;
        background: rgba(0, 0, 0, .6)
    }
}

.Menu_fullscreen-grid-area__2pQ59 {
    grid-area: 1/margin1-start/2/margin2-end;
    width: 100%;
    justify-self: start;
    align-self: start;
    padding: 0;
    display: flex;
    z-index: 9000;
    justify-content: flex-end
}

.Menu_fullscreen-grid-area__2pQ59,
.Menu_tag-list__2S1xd {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Menu_tag-list__2S1xd {
    display: block;
    list-style: none
}

.Menu_tag-list__2S1xd+.Menu_tag-list__2S1xd {
    margin-top: 12px
}

.Menu_tag-list-large__1c6T8 {
    margin-top: 24px
}

.Menu_label__153sV {
    display: inline-block;
    position: relative;
    padding: 3px 0 3px 64px;
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, .6)
}

.Menu_label__153sV:before {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 64px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-shadow: none;
    content: "—";
    color: hsla(0, 0%, 100%, .2)
}

@media (min-width:768px) and (max-width:1365px) {
    .Menu_social-list__b5lEr {
        margin-bottom: 12px
    }
}

.Enter_slidein__1422W {
    display: block;
    position: relative;
    -webkit-transform: translateY(1em);
    transform: translateY(1em);
    opacity: 0;
    -webkit-transition: opacity .5s cubic-bezier(.33, 1, .68, 1) 50ms, -webkit-transform .5s cubic-bezier(.33, 1, .68, 1) 50ms;
    transition: opacity .5s cubic-bezier(.33, 1, .68, 1) 50ms, -webkit-transform .5s cubic-bezier(.33, 1, .68, 1) 50ms;
    transition: opacity .5s cubic-bezier(.33, 1, .68, 1) 50ms, transform .5s cubic-bezier(.33, 1, .68, 1) 50ms;
    transition: opacity .5s cubic-bezier(.33, 1, .68, 1) 50ms, transform .5s cubic-bezier(.33, 1, .68, 1) 50ms, -webkit-transform .5s cubic-bezier(.33, 1, .68, 1) 50ms
}

.Enter_slidein__1422W.Enter_visible__1GHJ8 {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1
}

.Enter_fadein__2Lx6Z {
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1) 50ms;
    transition: opacity 1.5s cubic-bezier(.33, 1, .68, 1) 50ms;
    -webkit-transition-delay: .9s;
    transition-delay: .9s
}

.Enter_fadein__2Lx6Z.Enter_visible__1GHJ8 {
    opacity: 1
}

.Hero_hero__9F_fp {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 560px
}

@media (max-width:1023px) {
    .Hero_hero__9F_fp {
        top: 64px
    }
}

@media (min-width:768px) {
    .Hero_hero-spacing__1Bomn {
        grid-area: 1/main-start/2/main-end;
        height: 352px
    }
}

@media (min-width:768px) and (min-height:768px) {
    .Hero_hero__9F_fp {
        height: 640px
    }
    .Hero_hero-spacing__1Bomn {
        height: 416px
    }
}

@media (min-width:768px) and (min-height:840px) {
    .Hero_hero__9F_fp {
        height: 720px
    }
    .Hero_hero-spacing__1Bomn {
        height: 464px
    }
}

@media (min-width:768px) and (min-height:912px) {
    .Hero_hero__9F_fp {
        height: 864px
    }
    .Hero_hero-spacing__1Bomn {
        height: 560px
    }
}

.ScrollDownIndicator_scroll-down__1BfGU {
    position: fixed;
    bottom: 0;
    text-align: right;
    white-space: nowrap;
    padding-top: 3px;
    -webkit-transform: rotate(90deg) translateX(-50%) translateZ(0);
    transform: rotate(90deg) translateX(-50%) translateZ(0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 20;
    pointer-events: none
}

.ScrollDownIndicator_scroll-down__1BfGU>div {
    display: flex
}

.ScrollDownIndicator_scroll-down__1BfGU span {
    display: inline-block;
    line-height: 32px;
    font-weight: 700
}

.ScrollDownIndicator_scroll-down__1BfGU .ScrollDownIndicator_text__6H7OV {
    background: rgba(0, 0, 0, .6);
    padding: 0 32px;
    font-size: 20px;
    margin-top: 1px
}

.ScrollDownIndicator_scroll-down__1BfGU .ScrollDownIndicator_arrow__3pK93 {
    font-size: 64px;
    margin-top: 4px
}

@media (min-width:1024px) {
    .ScrollDownIndicator_scroll-down__1BfGU {
        bottom: 16px
    }
}

@media (min-width:1650px) {
    .ScrollDownIndicator_scroll-down__1BfGU {
        bottom: 48px
    }
}

@media (min-width:1920px) {
    .ScrollDownIndicator_scroll-down__1BfGU {
        bottom: 64px
    }
}
